rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /allow-users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    function isSignedIn() {
      return request.auth.uid != null;
    }

    function isAllowedUser() {
      let userDoc = get(/databases/$(database)/documents/allow-users/$(request.auth.uid));
      return userDoc != null && userDoc.data.enabled == true;
    }

    function getGroupId() {
      let userDoc = get(/databases/$(database)/documents/allow-users/$(request.auth.uid));
      return userDoc != null ? userDoc.data.groupId : null;
    }

    match /{document=**} {
      allow list: if isSignedIn() && getGroupId() != null;
    }

    match /{recipesGroupId}/{document=**} {
      allow create, read, write, delete: if isSignedIn() && isAllowedUser() && ("recipes-" + getGroupId()) == recipesGroupId
    }
  }
}
